---
import type { CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">;
type Blog = CollectionEntry<"blog">;

type Props = {
  entry: Project | Blog;
};

const { entry } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="relative group flex pr-8 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out overflow-hidden"
>
  <div class="flex flex-row md:flex-row flex-1 truncate">
    {
      (entry as Project).data.thumbnailImg && (
        <img
          class="w-36 h-full md:w-36 md:min-h-full md:h-auto object-cover"
          src={(entry as Project).data.thumbnailImg.url}
          alt={(entry as Project).data.thumbnailImg.altText}
        />
      )
    }
    <div class="flex flex-col p-3 pr-0">
      <div class="font-semibold mb-1">
        {entry.data.title}
        {
          (entry as Project).data.customer && (
            <span class="text-xs">- {(entry as Project).data.customer}</span>
          )
        }
      </div>
      <div class="text-xs md:text-sm text-ellipsis text-wrap overflow-hidden">
        {entry.data.description}
      </div>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
    ></polyline>
  </svg>
</a>
